
.tab button{
    border: 3px inherit;
    font-family: VT323;
    font-size: 30px;
    color: inherit;
    background-color: inherit;
    transition: 0.3s;
    margin: 3px;
}

.tab button:active{
    background-color: #4e4343;
}

.content{
    display: none;
}

.grid{
    border: 2px solid;
    border-color: #858585;
}