
/*
00171F
858585
F38EF5
D4F2DB
F7F7FF
*/

@font-face {
    font-family: VT323;
    src: url(../VT323/VT323-Regular.ttf);
}   

::-webkit-scrollbar { 
    display: none;
}

body{
    background-color: #00171F;
    color: #F7F7FF;
    font-family: VT323;
    font-size: 20px;
    margin: 0px;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00171F;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #858585;
}

.navbar a{
    text-decoration: none;
    font-size: 30px;
    color: #F7F7FF;
    padding-inline: 10px;
}

.navbar a:hover{
    text-decoration: underline;
    color: #F38EF5;
}

.header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #858585;
    background-color: #00171F;
}

.content_field{
    flex: 100%;
    height: 5000px;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #858585;
}